@model CrearCuentaViewModel

<h1>Crear cuenta de usuario</h1>

  <body style="background-color:#FEF9E7;">
<br>
<p>Para poder acceder a los servicios de LuzHogar, usted debera crearse un usuario, 
donde podra visualizar sus pedidos y estados de produccion</p>

<form>
  <div class="form-row">
    <div class="cold-md-12 mb-3">
    @if(TempData["mensaje"]!=null){
        <div>@TempData["mensaje"]</div>
    }
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">Nombre</label>
      <input type="text" asp-for="Nombre" class="form-control" id="validationDefault01" placeholder="First name" value="Adela" required>

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Apellido Paterno </label>
      <input type="text" asp-for="ApePaterno" class="form-control" id="validationDefault02" placeholder="Last name" value="Otayza" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault03">Apellido Materno</label>
      <input type="text" asp-for="ApeMaterno" class="form-control" id="validationDefault02" placeholder="Last name" value="Grados" required>
    </div>    
  </div>




  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">Correo</label>
      <input type="text" asp-for="Correo" class="form-control" id="validationDefault03" placeholder="e-mail" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">Dirección</label>
      <input type="text" asp-for="Direccion" class="form-control" id="validationDefault04" placeholder="Direccion" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Referencia</label>
      <input type="text" asp-for="Referencia" class="form-control" id="validationDefault05" placeholder="Referencia" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label for="dni">DNI</label>
      <input type="text" asp-for="Dni" class="form-control" id="dni" placeholder="DNI" required>
    </div>
  </div>

 <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">Teléfono</label>
      <input type="text" asp-for="Telefono" class="form-control" id="validationDefault06" placeholder="Telefono" value="" required>

    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Contraseña </label>
      <input type="text" asp-for="Password1" class="form-control" id="validationDefault07" placeholder="Contraseña" value="" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault03">Confirmar Contraseña</label>
      <input type="text" asp-for="Password2" class="form-control" id="validationDefault08" placeholder="Contra" value="" required>
    </div>     
  </div>
  

  <div class="form-row">
    <div class="col-md-4 mb-3">
        <button class="btn btn-primary" type="submit">Enviar</button>
  </div>
  </div>
  </form>

  
<center>
<img align=center src="https://www.paredro.com/wp-content/uploads/2019/05/bigstock-Asian-Woman-Realtor-Insurance-240332419.jpg"
     width="550"
     height="300">
     </center>



</body>     

 
  













































