@model LoginViewModel

<h1>Iniciar sesión</h1>
<body style="background-color:#FEF9E7;">


<br>
<p>Inicie sesion con su correo electronico y contraseña generada</p>

<form method="post" asp-controller="cuenta" asp-action="Login">
  <div class="form-group">
    <label for="correo">Correo Electrónico</label>
    <input type="email" asp-for="Correo" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">No compartiremos tu direccion de e-mail con nadie mas.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">De acuerdo</label>
  </div>

  <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
</form>


<center>
<img align=center src="http://www.grupohib.com/wp-content/uploads/2015/06/img_asespersypedido.jpg"
     width="550"
     height="300">
     </center>



</body>     