@model Mueble

<h1>Agregar nuevo mueble</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Color">Color</label>
        <input asp-for="Color" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Descripcion">Descripción</label>
        <input asp-for="Descripcion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Precio">Precio</label>
        <input asp-for="Precio" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Stock">Stock</label>
        <input asp-for="Stock" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Foto">Foto</label>
        <input asp-for="Foto" class="form-control">
    <div class="form-row">
        <button class="btn btn-primary">Registrar Mueble</button>
    </div>
</form>