@model List<Mueble>

<h1>Galeria de muebles</h1>

<div class="row">
@foreach (var item in Model)
{
        //info de cada mueble
        <div class="col-sm-3 border p-2" >
            <div class="row">
            <img class="col-sm-12 mb-2" src="@item.Foto" width="200px">
            <h3 class="col-sm-8 mx-auto text-center">@item.Nombre</h3>
            <p class="col-sm-8 mx-auto text-center">@item.Descripcion</p>
            <a class="btn btn-primary col-sm-8 mx-auto" href="~/mueble/mueble?id=@item.Id">Mas Info</a>
            </div>
        </div>

}
</div>