<h2>Nosotros</h2>

<p>Somos una empresa que desde hace 5 años ofrece a los hogares nuevas tendencias en dormitorios, salas y comedores. Estos acompañados de elegencia y comfort.
Nuestros exclusivos diseños han sido elegidos para brindar satisfaccion en nuestros clientes.Contamos con los mejores diseñadores de interiores y arquitectos, quienes se encargan 
de brindar atencion personalizada para embellecer un area en especifico del hogar.Nos caracterizamos por productos de alta calidad, puntualidad y excelente.
Nos encontramos en Plaza Hogar-Suqruillo. Tienda 21, donde contamos con un showroom.LuzHogar muebles siempre esta dispuesto a resolver dudas y asesorias, solo deberas crearte una  
sesion para reconocerte como cliente o enviar un mensaje al numero de whatsapp adherido en la pagina principal  </p> 



<h2>Mision</h2>

<p>Nuestra mision es Ofrecer muebles donde prima la elegencia, diseño y sofisticacion.Manteniedo siempre nuestro estandar alto.
importados de marcas con una larga trayectoria donde la elegancia,la durabilidad, el diseño y la sofisticación sean sus características más resaltantes.
Nuestro estándar es siempre tener propuestas únicas, de tendencia, y de reconocimiento internacional. Así mismo, brindamos nuestros servicios en diseño de interiores y establecemos
alianzas con otras empresas para la ejecución de proyectos comerciales.</p> 


<h2>Visionn</h2>

<p>Tenemos como vision ser la mejor empresa de diseño de muebles y mas reconocido en el pais y proximamente en el extranjero </p>
