@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>En LuzHogar, cuidamos tus datos personales, no son compartidos y son utilizados unicamente para fines comerciales entre nosotros y usted.</p> 
<p>Sus contratos son hechos con garatia y calidad. El tiempo de garatia son 5 años y cubre cualquier desperfecto sucedido </p>
<p>Los muebles son diseñados y producidos por personal altamente calificado, quienes velan por brimdar muebles de alta calidad y entregar y la satisfaccion del cliente</p>
<p>Si usted contara con dudas, sugerencias y/o quejas; podra comunicarse al numero 988173634, donde estaran disponibles a atenderlo de 9:00am a 8:00 pm </p>
<p>Agradecemos su preferencia </p>
